{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<!--header photo-->
<!--end header photo-->

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width: 1564px">
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3
      class="w3-border-bottom w3-border-light-grey w3-padding-16 text-primary"
    >
      Faculty of Environment, Society and Design: supporting you to achieve your
      PhD goals
    </h3>
    <p>
      Gaining your Doctor of Philosophy (PhD) at Lincoln creates opportunities
      to challenge yourself with new ways of thinking and problem-solving. We
      understand this journey can be demanding and are here to support you every
      step of the way.
      <br />
      <br />
      A crucial element of your PhD study is the completion of six-monthly
      reports (6MRs) to track your progess and address any issues as they arise.
      Lincoln University’s Postgraduate Monitoring System streamlines the
      reporting process.
    </p>
    <br />
    <h4 class="text-primary">
      Lincoln Monitoring collates input from students and staff
    </h4>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/img/team2.jpg" alt="John" style="width: 100%" />
      <h5>PG Administrator</h5>

      <p>
        The PG Administrator is reponsible for all students' administrative
        issues, including managing the 6MR process.
      </p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/img/team1.jpg" alt="Jane" style="width: 100%" />
      <h5>PG Chair</h5>

      <p>
        Our PG Chair works with the PG Administrator and Convenors to ensure the
        6MR process runs smoothly.
      </p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/img/team3.jpg" alt="Mike" style="width: 100%" />
      <h5>Convenors</h5>

      <p>
        Each Department has a Convenor responsible for managing student matters.
      </p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/img/team4.jpg" alt="Dan" style="width: 100%" />
      <h5>Supervisors</h5>

      <p>
        Every PhD candidate is assigned one or more supervisors to guide their
        academic progress.
      </p>
    </div>
  </div>
  <div class="w3-container w3-padding-32" id="contact">
    <h4 class="text-primary">
      Register or login above to make the six-monthly reporting process a breeze
    </h4>
    <br />
    <p>
      If you have any queries, please email the PG Administrator at
      <em>lupgms.lincoln@gmail.com</em>.
    </p>
  </div>

  <!-- End page content -->
  {% endblock %}
</div>
