{% extends 'user_base.html' %} {% block title %}My Students{% endblock %} {%
block content %}
<div>
  <div>
    <h3>Students in my Department</h3>
    <hr />
  </div>
  <div>
    <table class="table">
      <thead class="table table-secondary table-hover table-striped">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Thesis Title</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students%}
        <tr>
          <td>{{student['Student Name']}}</td>
          <td>{{student['ThesisTitle']}}</td>

          <td>
            <form action="{{ url_for('convenor.profile_student') }}">
              <button
                type="submit"
                name="StudentEmail"
                value="{{student['Student Email']}}"
                class="btn btn-primary"
              >
                View details
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
