{% extends 'user_base.html' %} {% block title %}My Reports{% endblock %} {%
block content %}
<div>
  <div>
    <h1>My Reports</h1>
    <hr />
  </div>
  <!-- flash message here -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category =="success"
  %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% elif category == "warning" %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endif %} {% endfor %} {% endif %} {% endwith %}
  <!-- end flash message-->

  <div>
    {% if my_reports != [] %}
    <table class="table">
      <thead class="table table-secondary table-hover table-striped">
        <tr>
          <th scope="col">Report<br />ID</th>
          <th scope="col">End<br />Date</th>
          <th scope="col">Report<br />Order</th>
          <th scope="col">Student<br />ID</th>
          <th scope="col">Student<br />Name</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for r in my_reports %} {% if r['Status'] == 'Acceptance pending' and
        r['SupervisorType']=='Principal Supervisor' %}
        <tr>
          <td>{{r['Report ID']}}</td>
          <td>{{r['End Date']}}</td>
          <td>{{r['Report Order']}}</td>
          <td>{{r['Student ID']}}</td>
          <td>{{r['Student Name']}}</td>
          <td>
            <form
              action="/pgChair/report_status_desc/{{r['Report ID']}}"
              method="POST"
            >
              <button type="submit" class="report_status_button">
                {{r['Status']}}
              </button>
            </form>
          </td>
          <td>
            <a
              href="/supervisor/my_reports/{{r['Student ID']}}/{{r['Report ID']}}"
              type="button"
              class="btn btn-primary"
              target="_blank"
              >View</a
            >
            <a
              href="/supervisor/my_reports/{{r['Report ID']}}/accept"
              type="button"
              class="btn btn-success"
              >Accept</a
            >
            <a
              href="#"
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              >Reject</a
            >
          </td>
        </tr>
        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="container">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Rejection Feedback
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>Please provide your feedback here</p>
                  <form
                    action="/supervisor/my_reports/{{r['Report ID']}}/reject"
                    method="POST"
                  >
                    <textarea
                      class="form-control"
                      name="rejection_feedback"
                      id=""
                      cols="30"
                      rows="7"
                      required
                    ></textarea>
                    <hr />
                    <div class="d-flex justify-content-center">
                      <button
                        type="button"
                        class="btn btn-secondary mr-2"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Send
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% if r['Status'] == 'Performance rating pending' %}
        <tr>
          <td>{{r['Report ID']}}</td>
          <td>{{r['End Date']}}</td>
          <td>{{r['Report Order']}}</td>
          <td>{{r['Student ID']}}</td>
          <td>{{r['Student Name']}}</td>
          <td>
            <form
              action="/pgChair/report_status_desc/{{r['Report ID']}}"
              method="POST"
            >
              <button type="submit" class="report_status_button">
                {{r['Status']}}({{r['Percentage']}})
              </button>
            </form>
          </td>
          <td>
            <a
              href="/supervisor/my_reports/{{r['Student ID']}}/{{r['Report ID']}}"
              type="button"
              class="btn btn-primary"
              target="_blank"
              >View</a
            >
            {% if r['CompletionDate'] == None %}
            <a
              href="/supervisor/rate_student/{{r['Student ID']}}/{{r['Report ID']}}"
              type="button"
              class="btn btn-success"
              >Rate</a
            >
            {% endif %}
          </td>
        </tr>
        {% endif %}{% if r['Status'] == 'Final rating pending' or r['Status'] ==
        'Finalised' %}
        <tr>
          <td>{{r['Report ID']}}</td>
          <td>{{r['End Date']}}</td>
          <td>{{r['Report Order']}}</td>
          <td>{{r['Student ID']}}</td>
          <td>{{r['Student Name']}}</td>
          <td>
            <form
              action="/pgChair/report_status_desc/{{r['Report ID']}}"
              method="POST"
            >
              <button type="submit" class="report_status_button">
                {{r['Status']}}
              </button>
            </form>
          </td>
          <td>
            <a
              href="/supervisor/my_reports/{{r['Student ID']}}/{{r['Report ID']}}"
              type="button"
              class="btn btn-primary"
              target="_blank"
              >View</a
            >
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
    {% else %}

    <p>You have no reports submitted to you for this reporting period.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
