<!--register Modal -->
<!--included by base.html -->

<div
  class="modal fade registerclass"
  id="register_Modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="margin-top: 120px">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Register</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- flash message for register-->
      <div class="modal-body">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category
        =="error_regi" %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>

        {% elif category == "success_regi" %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>

        {% endif %} {% endfor %} {% endif %} {% endwith %}
        <!-- end flash message-->
        <form
          action="{{ url_for('account.register') }}"
          method="POST"
          class="needs-validation-register-form"
          novalidate
        >
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="firstname"><strong>First Name:</strong></label>
              <input
                type="text"
                id="firstname"
                name="firstname"
                class="form-control"
                value="{{firstname}}"
                required
                pattern="[a-zA-Z -]+"
              />
              <div class="invalid-feedback">
                Please provide a valid first name(Only English letters, spaces
                and hyphens (-) allowed).
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="lastname"><strong>Last Name:</strong></label>
              <input
                type="text"
                id="lastname"
                name="lastname"
                class="form-control"
                value="{{lastname}}"
                required
                pattern="[a-zA-Z -]+"
              />
              <div class="invalid-feedback">
                Please provide a valid last name(Only English letters, spaces
                and hyphens (-) are allowed).
              </div>
            </div>

            <div class="form-group col-md-3">
              <label for="studentid"><strong>Student ID:</strong></label>
              <input
                type="number"
                id="studentid"
                name="studentid"
                class="form-control"
                value="{{studentid}}"
                minlength="7"
                maxlength="7"
                min="1000000"
                max="9999999"
                required
              />
              <div class="invalid-feedback">
                Please enter a valid student ID consisting of seven digits only
                (numbers).
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="phone"><strong>Phone:</strong></label>
              <input
                type="tel"
                id="phone"
                name="phone"
                class="form-control"
                value="{{phone}}"
                required
                pattern="[0-9\-]*"
                minlength="7"
                min="1000000"
              />
              <div class="invalid-feedback">
                Please provide a valid phone number(Only numbers and hyphens (-)
                are allowed).
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email"><strong>Email:</strong></label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                value="{{email}}"
                required
              />
              <div class="invalid-feedback">
                Please provide a valid email address.
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="address"><strong>Address: </strong></label>
              <input
                type="text"
                id="address"
                name="address"
                class="form-control"
                value="{{address}}"
                pattern="^[A-Za-z0-9\s,./-]*$"
                required
              />
              <div class="invalid-feedback">
                Please provide a valid address(Only letters, numbers, spaces,
                commas, periods, slashes and dashes are allowed).
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password"><strong>Password:</strong></label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                value="{{password}}"
                pattern="^\d{8,}$"
                required
              />
              <div class="invalid-feedback">
                The password must be at least eight characters long.
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="confirm_password"
                ><strong>Confirm Password:</strong></label
              >
              <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                class="form-control"
                value="{{confirm_password}}"
                pattern="^.{8,}$"
                required
              />
              <div class="invalid-feedback">
                The password must be at least eight characters long.
              </div>
            </div>
          </div>

          <div class="row col-sm-8 offset-md-5">
            <button
              type="submit"
              class="btn btn-primary mb-3"
              style="width: 30%"
              href="#"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- login modal -->
