{% extends 'dashboard.html' %} {% block title %}Report{% endblock %} {% block
content %}
<div class="container">
  <br />
  <div class="row">
    <div class="col-6"><h1 style="color: #fff">6MR Report Completion</h1></div>
    <div class="col-6 ">
      <form name="selectPeriod" method="GET">
        <div class="row">
          <div class="col-md-4"><label for="selectedPeriod" style="color: #fff;"></label></div>
          <div class="col-md-8">
          
          <select
            class="form-select"
            name="selectedPeriod"
            id="selectPeriod"
            onchange="document.forms['selectPeriod'].submit();"
          >
           
            <option value="2022-06-30" {% if selectedPeriod == "2022-06-30" %} selected {%endif%}>30 Jun 2022</option>
            <option value="2022-12-31" {% if selectedPeriod == "2022-12-31" %} selected {%endif%}>31 Dec 2022</option>
            <option value="2023-06-30" {% if selectedPeriod == "2023-06-30" %} selected {%endif%}>Current</option>
          </select>
        </div>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div style="background-color: #fff; color: rgb(41, 40, 40)">
    <br />
    <div id="chart" style="width: 500px; height: 500px; margin: auto"></div>
    <br />
  </div>
</div>
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById("chart"));
  completedRepNum = ["{{repNumSOLA}}", "{{repNumDEM}}", "{{repNumDTSS}}"];
  uncompletedRepNum = [
    "{{stuNumSOLA}}" - "{{repNumSOLA}}",
    "{{stuNumDEM}}" - "{{repNumDEM}}",
    "{{stuNumDTSS}}" - "{{repNumDTSS}}",
  ];
  option = {
    tooltip: {
      trigger: "axis",
      axisPointer: {
        type: "shadow",
      },
    },

    legend: {},
    grid: {
      left: "10%",
      right: "10%",
      bottom: "3%",
      containLabel: true,
    },
    xAxis: [
      {
        type: "category",
        data: ["DEM", "DTSS", "SOLA"],
      },
    ],
    yAxis: [
      {
        type: "value",
      },
    ],
    series: [
      {
        name: "completed",
        type: "bar",
        stack: "Ad",
        color: "green",
        emphasis: {
          focus: "series",
        },
        // data: [20, 25, 30],
        data: completedRepNum,
      },
      {
        name: "uncomplete",
        type: "bar",
        stack: "Ad",
        color: "gray",
        emphasis: {
          focus: "series",
        },
        // data: [10, 5, 10],
        data: uncompletedRepNum,
      },
    ],
  };
  myChart.setOption(option);
</script>
{% endblock %}
