{% extends 'user_base.html' %} {% block title %}Profile{% endblock %} {% block
content %}
<div>
  <h3>Add an Employment Record:</h3>
  <br />
  <hr />
  <form
    action="/student/profile/add/studentemp/process"
    method="POST"
    class="myForm"
  >
    <div class="form-group row">
      <label for="studentid" class="col-sm-3 col-form-label"
        ><strong>Student ID:</strong></label
      >
      <div class="col-sm-9">
        <input
          type="text"
          id="studentid"
          name="studentid"
          class="form-control"
          readonly
          value="{{student_id}}"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="supervisorid" class="col-sm-3 col-form-label"
        ><strong>Supervisor Name:</strong></label
      >
      <div class="col-sm-9">
        <select
          name="supervisorid"
          id="supervisorid"
          class="form-select"
          required
          aria-label="Default select example"
        >
          <option selected value="">--- Select Supervisor Name ---</option>
          {% for sv in svList %}
          <option value="{{ sv['SupervisorID'] }}">
            {{ sv['Supervisor Name'] }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="employmenttypeid" class="col-sm-3 col-form-label"
        ><strong>Employment Type:</strong></label
      >
      <div class="col-sm-9">
        <select
          name="employmenttypeid"
          id="employmenttypeid"
          class="form-select"
          required
          ria-label="Default select example"
        >
          <option selected value="">--- Select Employment Type ---</option>
          {% for emp in emptList %}
          <option value="{{emp['EmploymentTypeID']}}">
            {{emp['EmploymentType']}}
          </option>
          {%endfor%}
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="weeklyhours" class="col-sm-3 col-form-label"
        ><strong>Weekly Hours:</strong></label
      >
      <div class="col-sm-9">
        <input
          type="number"
          id="weeklyhours"
          name="weeklyhours"
          class="form-control"
          min="0"
          max="40"
          required
          value=""
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="startdate" class="col-sm-3 col-form-label"
        ><strong>Start Date:</strong></label
      >
      <div class="col-sm-9">
        <input
          type="date"
          id="startdate"
          name="startdate"
          class="form-control"
          required
          value=""
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="enddate" class="col-sm-3 col-form-label"
        ><strong>End Date:</strong></label
      >
      <div class="col-sm-9">
        <input
          type="date"
          id="enddate"
          name="enddate"
          class="form-control"
          value=""
        />
      </div>
    </div>

    <div
      class="form-group row align-center"
      style="display: flex; justify-content: center"
    >
      <button
        class="btn btn-primary mb-3 mr-2"
        type="submit"
        name="save"
        style="width: 12%"
        value=""
      >
        Save
      </button>
      <a
        type="button"
        class="btn btn-secondary mb-3"
        style="width: 12%"
        href="/student/profile"
        >Cancel</a
      >
    </div>
  </form>

  <script>
    function validateForm() {
      var startDate = document.getElementById("startdate").value;
      var endDate = document.getElementById("enddate").value;

      if (endDate !== "" && startDate > endDate) {
        alert("End date cannot be earlier than the start date.");
        return false; // Prevent form submission
      }

      return true; // Allow form submission
    }
  </script>

  {% endblock %}
</div>
